 [Unit]
 Description=CxOneFlow Scan Agent
 Documentation=https://github.com/checkmarx-ts/cxone-flow
 After=network-online.target

 [Service]
 Restart=on-failure
 ExecStart=/opt/cxoneflow-scan-agent/cx_scan_agent
 User=cx-scan-agent
 Group=cx-scan-agent
 Environment=CONFIG_YAML_PATH=/etc/cxoneflow-scan-agent/config.yaml

 [Install]
 WantedBy=default.target